:root {
    --my-gap: 1rem;
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
}

/* regole generali
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid black;
}

/* regole container dimensioni */
.container {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid green;
}

.container-medium {
    padding-left: 40px;
    padding-right: 40px;
}

.container-xs {
    padding-left: 25%;
    padding-right: 25%;
}

.container-xxs {
    padding-left: 30%;
    padding-right: 30%;
}

/* dimensioni gap */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--my-gap);
}

.gap-0 {
    --my-gap: 0rem;
}


/* colonne dimensioni */
.col {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px dashed red;
    padding: 1rem;
}

.col-1-3 {
    flex-basis: calc((100% / 3) - var(--my-gap));
}

.col-2-3 {
    flex-basis: calc(((100% / 3) * 2) - var(--my-gap));
}

.col-1-2 {
    flex-basis: calc(50% - var(--my-gap));
}

/* header */
header nav {
    background-color: var(--primary-color);
    padding: 1rem 0;
}

.nav-row {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav .nav-brand {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    align-items: center;
}

nav .nav-brand img {
    width: 40px;
    margin-right: 1rem;
}

.nav-menu-btn {
    color: white;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 18px;
}

.nav-menu-btn:focus~ul {
    display: block;
}

nav ul {
    list-style: none;
    text-align: center;
    display: none;
    padding-right: 1rem;
}

nav ul a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
}

.container,
.nav-left,
.nav-logo,
.nav-links {
    border: 1px dashed red;
}

/* Main */

.bg-violet {
    background-color: var(--secondary-color);
}

.col-1-2 img {
    width: 100%;
}

.card {
    margin-bottom: 1rem;
    border-radius: 30px;
    padding: var(--my-gap);
}

.card-img {
    width: 50%;
}

.card-img img {
    width: 100%;
}

.medium-text {
    width: calc(60%- var(--my-gap));
}

.medium-img {
    width: 60%;
}


footer {
    background-color: #333333;
}





/* media query */

@media screen and (min-width: 576px) {
    nav .nav-brand-text {
        display: inline-block;
    }


}

@media screen and (min-width: 768px) {
    nav .nav-brand img {
        width: 60px;
    }

    .row {
        flex-direction: row;
    }

    .card {
        display: flex;
    }

    .card .card-img {
        margin-right: 1rem;
    }

    .container-small {
        padding-left: 100px;
        padding-right: 100px;
    }

    .container-medium>.row {
        flex-wrap: nowrap;
    }

    .medium-img img {
        width: 100%;
    }


}

@media screen and (min-width: 992px) {
    .nav-menu-btn {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav .nav-brand img {
        width: 100%;
    }

    .special>.col {
        flex-basis: calc((100% / 3) - var(--my-gap));
    }

}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}